/** DESIGN **/

body
  background-color #f2f2f2
  color #555
  -webkit-font-smoothing antialiased
  -webkit-overflow-scrolling touch
  border 10px
  padding 10px
  margin 10px

header
  background-color transparent
  margin 0 auto
  overflow hidden
  padding 1.5% 10% 1%
  width 100%
  -moz-border-radius 10px
  -webkit-border-radius 10px
  -khtml-border-radius 10px

hr
  display block
  height 1px
  border 0
  border-top 1px solid #ccc
  margin 1em 0
  padding 0
