A4-width = 8.5in
A4-margin = 1in
screen-font = "mplus-1m-regular"
screen-font-size = 12pt
screen-heading-font-size = 14pt
print-font = "mplus-1m-regular"
print-font-size = 12pt
print-heading-font-size = 14pt
red = #ba3925

.A4Size
  size 8.5in 11in

@font-face
  font-family "mplus-1m-regular"
  src url('/fonts/mplus-1m-regular.ttf')

.autospace
  white-space normal !important

@media screen
  body
    width A4-width
    margin A4-margin
    font-family screen-font
    font-size screen-font-size
    line-height (screen-font-size * 1.45)
    border-right 0.01in solid #000

  article
    text-align left
    white-space pre-wrap
    hyphens auto

  img
    max-width 100% !important
    page-break-inside avoid

  h1, h2, h3, h4, h5, h6
    font-size screen-heading-font-size
    line-height (screen-heading-font-size * 1.45)
    hyphens none
    font-style bold
    page-break-after avoid

  ol
    list-style-type decimal

  a:link, a:visited
    color red
    text-decoration none

  blockquote
    font-style italic
    border-left 0.03in solid #999
    padding-left 0.08in
    white-space normal

  code, pre
    font-family screen-font

@media print
  nav
    display none

  mysinglepage
     body A4
     color red

  body (page-type)
    width page-type-width
    margin page-type-margin
    font-family print-font
    font-size print-font-size
    line-height (print-font-size * 1.45)

  article
    text-align left
    white-space pre-wrap
    hyphens auto

  img
    max-width 100% !important
    page-break-inside avoid

  h1, h2, h3, h4, h5, h6
    font-size print-heading-font-size
    line-height (print-heading-font-size * 1.45)
    hyphens none
    font-style bold
    page-break-after avoid

  ol
    list-style-type decimal

  iframe
    display none

  /* why is this not working ?*/

  iframe::after
    content: "youtube ↩"

  a[href^=http]:after
    content:"↩"

  a[href^="/"]:after
    content:"↩"

  a[href^="#"]:after
     content: ""

  a:link, a:visited
    color red
    text-decoration none
    font-weight bolder
    font-size 90%
    hyphens auto

  blockquote
    font-style italic
    border-left 0.03in solid #999
    padding-left 0.08in
    white-space normal

  code, pre
    font-family print-font

*
  -webkit-print-color-adjust exact
  print-color-adjust exact
