/** TYPOGRAPHY **/

/** Default Typeset **/

header
  font-size 2em
  font-weight 200

h1,h2,h3,h4,h5,h6,p
  line-height 1.45

body
  font-family 'Alegreya Sans', sans-serif
  font-size 18px

footer
  font-size 1em
  font-weight 100

h1
  font-size 3em
  font-weight 300

h2
  font-size 3em
  font-weight 300
  font-style italic

h3
  font-size 2em
  font-weight 200

h4
  font-size 2em
  font-weight 200
  font-style italic

h5
  font-size 2em
  font-weight 200

h6
  font-size 2em
  font-weight 200
  font-style italic

p.pt8
  font-size 0.5em
  font-weight 50

p.pt10
  font-size 0.66em
  font-weight 66

p.pt12
  font-size 0.75em
  font-weight 75

p.pt16
  font-size 1em
  font-weight 100

p.pt24
  font-size 1.5em
  font-weight 100

p.pt36
  font-size 2.25em
  font-weight 225

p.pt48
  font-size 3em
  font-weight 300

p.pt64
  font-size 4em
  font-weight 400

ul
  font-size 1em
  font-weight 100
  font-style italic
  margin 0
  padding 0
  list-style-type disc
  text-align left
  display block

li
  display inline

a
  padding 2px


/* Haiku Typesetting */

.metadata
  font-size 75%
  text-align left

.haiku
  whitespace: pre
  font-family 'EB Garamond', serif
  font-size 2em
  font-weight 200
  text-align center
  padding 10px
  border 1px
  margin 1px
  line-height 1.2em

p.author
  padding 1px
  font-weight bold
  text-transform uppercase
  text-align right

a:hover
  text-decoration none
  cursor pointer

/* Presets */

.ancient
  font-family 'Libre Baskerville' serif

.medieval
  font-family 'Alegreya Sans', sans-serif

.modern
  font-family 'EB Garamond' serif

.robot
  font-family 'Roboto' sans-serif
